name: Deploy Vue.js Application

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest 
    steps:
    - name: Checkout code
      uses: actions/checkout@v2 

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18.5.0' 
      
    - name: Start ssh-agent
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add known hosts
      run: ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

    - name: Check SSH connection
      run: ssh -T ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}

    - name: SSH and Deploy
      run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'
            set -e
            
            mkdir -p frontend/client
            cd frontend/client
      
            if [ ! -d .git ]; then
              git init
              git remote add origin git@github.com:DuongHoaiAn2k1/ct550-frontend-client.git
            else
              # Nếu repository đã tồn tại, cập nhật URL remote nếu cần
              git remote set-url origin git@github.com:DuongHoaiAn2k1/ct550-frontend-client.git
            fi
      
            # Cấu hình Git để sử dụng SSH key cụ thể
            git config core.sshCommand "ssh -i ~/.ssh/ct550 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
      
            # Pull code mới nhất
            git fetch --all
            git reset --hard origin/main

          EOF
